html, body {
    width: 100%;
    background-color: #272727;
    z-index: 0;
    color: #FFF;
}

/*custom scrollbar */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #FFF;
}
.invisible {
    opacity: 0;
}

/* Navigation */

.nav {
    width: 100%;
    background-color: #1e1d1d;
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-shadow: 0px -14px 91px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -14px 91px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -14px 91px 7px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    z-index: 5;
}
#nav-btns {
    margin-right: 2em;
}
#nav-btns a {
    flex: right;
    color: #f2f2f2;
    font-size: 2.5vw;
    text-decoration: none;
    min-width: 11vw;
    text-align: center;
    padding: 1vh 2vw;
    float: right;
    transition: all .3s;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    cursor: pointer;
}
#nav-btns a:hover {
    color: #000;
    background-color: #FFF
}

/* Section - Landing Page */

#LandingPage {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#LandingPage img {
    width: 60vw;
    max-width: 400px;
    height: auto;
    min-width: 200px;
}
#LandingPage .landingImageWrapper {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
section {
    height: 103vh;
    position: relative;
}
.opt-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#LandingPage p {
    text-align: center;
    color: #FFF;
    font-size: 9vw !important;
    font-weight: 100 !important;
    text-transform: uppercase;
    font-weight: 300 !important;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 25px;
    position: relative;
    top: 30vh;
}

/* scroll down arrow */

.arrow-wrap {
    font-size: 1em;
    width: 100% !important;
    position: absolute;
    bottom: 6vh;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.fa-angle-down {
    font-size: 3vh;
    color: white;
    text-decoration: none;
    position: relative;
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: .5s;
}

/*Second Page */

.opt-content {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
#second p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 4vw;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 25px;
    text-align: center;
    height: 100%;
}
#second p strong {
    font-size: 20vw;
    padding: 0px;
}
#second img {
    height: 20vw;
    width: 20vw;
}
.course-track p {
    font-family: 'Roboto Mono', monospace !important;
    color: white;
    font-size: 1.8vw !important;
}
.course-logo {
    width: 100%;
    height: auto;
    max-height: 260px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#team .row {
    margin-top: 7vh;
}

#team h5{
		margin-top: 2px;
		margin-bottom: 10px;
}
#team img {
    width: 15vw;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .3s ease-in;
}
#team img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    width: 15vw;
    border-radius: 50%;
    transform: scale(1.1);
}
#team h5, #team h6 {
    color: #f2f2f2 !important;
    font-family: 'Roboto Mono', monospace !important;
    color: #FFF;
}
.course-track .button {
    margin-top: 2.5vh;
    height: 60px !important;
    width: 300px;
    line-height: 48px;
    font-size: 32px;
    color: white !important;
    font-family: 'Roboto Mono', monospace !important;
    transition: all .3s;
    float: right;
}

form .button {
    margin-top: 2.5vh;
    height: 60px !important;
    width: 300px;
    line-height: 48px;
    font-size: 32px;
    color: white !important;
    font-family: 'Roboto Mono', monospace !important;
    transition: all .3s;
    float: right;
}
.select-wrapper {
    color: #f2f2f2;
}
#form,#form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div#gender {
    padding-left: 1em;
    margin-right: 1em;
}
input, label, h4 {
    color: #f2f2f2 !important;
    font-family: 'Roboto Mono', monospace !important;
    font-size: .7em !important;
}
h4 {
    border: solid #FFF 1px;
    padding: 1em 2em;
    margin:10vh 0px !important;
    margin-bottom: 10vh !important;
}
footer {
    font-family: 'Roboto Mono', monospace !important;
    background: #FFF !important;
    padding-right: 1em;
    width: 80vw !important;
    position: absolute;
    bottom: 0;
		padding-left: 1em;
}
footer h6 {
	position: relative;
	bottom: 0;
	left: 0;
}
.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.valign-wrapper .valign {
    display: block;
}
@media only screen and (max-width: 1026px) {
    #nav-btns a {
        font-size: 5vw;
    }
    #nav-btns {
        margin-right: .5em;
    }
    .course-track p {
        color: white;
        font-size: 4vw !important;
    }
    .course-logo {
        max-height: 120px;
    }
.course-track .button {
        margin-top: 2.5vh;
        height: 40px !important;
        width: 80vw;
        line-height: 28px;
        font-size: 24px;
        color: white !important;
        font-family: 'Roboto Mono', monospace !important;
        transition: all .3s;
        float: right;
    }

    form .button {
      margin-top: 2.5vh;
      height: 40px !important;
      width: 80vw;
      line-height: 28px;
      font-size: 24px;
      color: white !important;
      font-family: 'Roboto Mono', monospace !important;
      transition: all .3s;
      float: right;
    }

		form  .button{
			width: 83vw;
		}
		#form2{
			padding-top: 5vh;
		}
}
