html, body {
    width: 100%;
    background-color: #272727;
    z-index: 0;
    color: #FFF;
}

/*custom scrollbar */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #FFF;
}
.invisible {
    opacity: 0;
}
.red-toast {
    background-color: #b71c1c !important;
}
.green-toast {
    background-color: #64dd17 !important;
}
@-webkit-keyframes green {
    0% {
        background-color: #1e1d1d;
    }
    50% {
        background-color: #64dd17;
    }
    100% {
        background-color: #1e1d1d;
    }
}
@-webkit-keyframes red {
    0% {
        background-color: #1e1d1d;
    }
    50% {
        background-color: #b71c1c;
    }
    100% {
        background-color: #1e1d1d;
    }
}

/* Navigation */

.nav {
    width: 100%;
    background-color: #1e1d1d;
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-shadow: 0px -14px 91px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -14px 91px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -14px 91px 7px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    z-index: 5;
    transition: background-color .3s ease-in;
}
#nav-btns {
    margin-right: 2em;
}
#nav-btns a {
    flex: right;
    color: #f2f2f2;
    font-size: 2vw;
    text-decoration: none;
    min-width: 11vw;
    text-align: center;
    padding: 1vh 2vw;
    float: right;
    transition: all .3s;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    cursor: pointer;
}
#nav-btns a:hover {
    color: #000;
    background-color: #FFF
}

/* Section - Landing Page */

#LandingPage {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#LandingPage img {
    width: 60vw;
    max-width: 400px;
    height: auto;
    min-width: 200px;
}
#LandingPage .landingImageWrapper {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
section {
    position: relative;
    min-height: 100vh;
}
.opt-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#LandingPage p {
    text-align: center;
    color: #FFF;
    font-size: 9vw !important;
    font-weight: 100 !important;
    text-transform: uppercase;
    font-weight: 300 !important;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 25px;
    position: relative;
    top: 30vh;
}

/* scroll down arrow */

.arrow-wrap {
    font-size: 1em;
    width: 100% !important;
    position: absolute;
    bottom: 6vh;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.fa-angle-down {
    font-size: 3vh;
    color: white;
    text-decoration: none;
    position: relative;
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: .5s;
}

/*Second Page */

.opt-content {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
#second p {
    color: white;
    font-family: 'sharp', monospace;
    font-size: 4vw;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 25px;
    text-align: center;
    height: 100%;
}
#second p strong {
    font-size: 20vw;
    padding: 0px;
}
#second img {
    height: auto;
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.course-track p {
    font-family: 'Roboto Mono', monospace !important;
    color: white;
    font-size: 1.8vw !important;
}
.course-logo {
    width: 100%;
    height: auto;
    max-height: 260px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#team .outer {
    margin-top: 7vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#team .inner .columns, .mentorsName {
    margin-top: 8px;
    font-family: 'Roboto Mono', monospace !important;
    text-align: center;
}
.mTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-align: center;
}
.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFF;
}
.titleContainer {
    min-height: 45px !important;
}
#team .fa {
    font-size: 1.8em;
    color: white;
    text-align: center
}
#team h5 {
    margin-top: 2px;
    margin-bottom: 10px;
}
#team img {
    width: 15vw;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .3s ease-in;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}
#team img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    width: 15vw;
    border-radius: 50%;
    transform: scale(1.1);
}
#team h5, #team h6 {
    color: #f2f2f2 !important;
    color: #FFF;
}
.course-track .button {
    margin-top: 2.5vh;
    height: 60px !important;
    width: 300px;
    line-height: 48px;
    font-size: 32px;
    color: white !important;
    font-family: 'Roboto Mono', monospace !important;
    transition: all .3s;
    float: right;
}
form .button {
    margin-top: 2.5vh;
    height: 60px !important;
    width: 300px;
    line-height: 48px;
    font-size: 32px;
    color: white !important;
    font-family: 'Roboto Mono', monospace !important;
    transition: all .3s;
    float: right;
}
.select-wrapper {
    color: #f2f2f2;
}
.form-container {
    margin-top: 15vh;
    margin-bottom: 15vh;
    display: block;
    position: relative;
}
form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
div#gender {
    padding-left: 1em;
    margin-right: 1em;
}
input, label {
    color: #f2f2f2 !important;
    font-family: 'Roboto Mono', monospace !important;
    font-size: .7em !important;
}
.form-container h2 {
    color: #f2f2f2 !important;
    font-family: 'Roboto Mono', monospace !important;
    border: solid #FFF 1px;
    padding: .2em;
    margin: 10vh 0px !important;
    margin-bottom: 10vh !important;
}
footer {
    font-family: 'Roboto Mono', monospace !important;
    background: #FFF !important;
    padding-right: 1em;
    width: 100vw !important;
    margin-left: -15vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 1em;
    animation-delay: .5s;
    z-index: 0;
}
footer h6 {
    position: relative;
    bottom: 0;
    left: 0;
}
.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.valign-wrapper .valign {
    display: block;
}
.mobile-only {
    display: none;
}
@media only screen and (max-width: 1026px) {
    #nav-btns a {
        font-size: 5vw;
    }
    #nav-btns {
        margin-right: .5em;
    }
    .course-track p {
        color: white;
        font-size: 3vw !important;
    }
    .course-logo {
        max-height: 220px;
        height: 15vh;
    }
    .course-track .button {
        padding-left: 20px !important;
        padding-right: 20px!important;
        margin-top: 2.5vh;
        height: 40px !important;
        width: 32vw;
        line-height: 28px;
        font-size: 9px;
        color: white !important;
        font-family: 'Roboto Mono', monospace !important;
        transition: all .3s;
        float: right;
    }
    form .button {
        margin-top: 2.5vh;
        height: 40px !important;
        width: 80vw;
        max-width: 100%;
        line-height: 28px;
        font-size: 24px;
        color: white !important;
        font-family: 'Roboto Mono', monospace !important;
        transition: all .3s;
    }
    #team .outer {
        flex-direction: column;
    }
    #team .fa {
        font-size: 1em;
    }
    .inner {
        flex-direction: column;
        justify-content: flex-start;
    }
    .mContent {
        display: flex;
        justify-content: space-around;
        margin-top: 2vh;
    }
    .titleContainer {
        min-height: 0 !important;
    }
    .inner .fa-twitter:nth-child(1) {
        margin-bottom: 12px;
    }
    .mobile-only {
        display: inline;
    }
    .form-container {
        margin-bottom: 15vh;
    }
    footer {
        margin-left: 0vw;
        position: relative;
        bottom: -5vh;
        left: 0px;
    }
    #second img {
        height: auto;
        width: 90vw;
    }
    form div.row {
        margin-bottom: 0px !important;
    }
    form input {
        margin-bottom: 0px !important;
        height: 7vh !important;
    }
    h4 {
        margin: 0px 0px !important;
    }
    form.container {
        padding-top: 25vh;
    }
}
